

<div class="container mt-5">
	<table>
       {{#each pro}} 
        <tr>            
        <td>  
            Agregar al Cariito     
            <label> {{des}} </label>
            
                <label> {{precio1}}
                   <input type="text" name="des" value={{des}} maxlength="55">
            </label>
        </td>
        </tr>
        {{/each}} 
	</table>  
</div>
