        
<div>
        <header class="masthead d-flex">
    <!--
        <div class="container text-center my-auto">
            <p class="titulo">Ventas por Mayor y Menor</p>
        
            <h3 class="mb-5">
                <p class="titu2"> Todo Importado</p>
            </h3>

                <h3 class="mb-5">
                <p class="titu3">
                <u>Atencion a Revendedores</u>
                &nbsp&nbsp contacta a mi email</p>
            </h3>
            </div>
            -->   
    </header>
</div>
     

            
                 
        



