<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <table border=0 class="tabla-barra">
      <tr>
        <td>              
     <input align="left" id="usuario" name="usuario" class=" border-0" readonly></input>
         </td>
         
           
          <td></td>
          <td>
            <input align="left" id="items" name="items" class="numcarrito border-0" readonly></input>
          </td>
          <td></td>
  

      </tr>
      <tr>
        <td align="left" width="20%" >
          <ul class="nav-item dropdown menucategoria" list-style="none">
            <h3 class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" list-style="none">
              filtrar
            </h3>
            <div class="dropdown-menu menucategoria" aria-labelledby="navbarDropdown">
              <li><img src="../img/perfume.png"> <a href="/producto/10"> PERFUMES </a></li>
              <li><img src=""> <a href="/producto/20"> CARGADORES</a></li>
              <li><img src=""> <a href="/producto/30"> FUNDAS</a></li>
               <!--<li><img src="../img/mermelada2.png"><a href="/producto/40"> DULCES </a></li>
              <li><img src="../img/snack32.png"> <a href="/producto/50"> SNACK </a></li>
              <li><img src="../img/aceituna32.png"><a href="/producto/60"> ENCURTIDOS </a></li>
              <li><img src="../img/pasta.png"><a href="/producto/80"> PASTAS </a></li>
              <li><img src="../img/mini_frutos.png"><a href="/producto/70"> FRUTOS SECOS </a></li>
              <li><img src="../img/saludable.png"><a href="/producto/75"> SALUDABLES </a></li>
              <li><img src="../img/condimentos.png"><a href="/producto/90"> CONDIMENTOS </a></li>
             <li><img src="../img/cerveza32.png"> <a href="/listatarjeta/A0"> BEBIDAS </a></li>-->
              <li><img src="../img/todos.png"> <a href="/producto/todos"> TODOS </a></li>
            </div>
          </ul>
        </td>
        
       
                          
        <td width="5%">
          <a align="left" href="/">

          <img align="left" src="../img/logo.jpg"  height="200px"  width="200px" name="imglogo" > </a>
        </td>
         <td style="width:400px;  align-items: center; text-align: center;">
            <a class="navbar-brand" style="font-size: 3rem; color:rgb(128, 146, 247);" href="/">
     
            </a>
          </td>
        <td width="20%" >   
              <a href="/carritobarra"  >
              <img align="center" src="../img/carrito_gris.png"  height="150px"  width="150px" > </img>
              
        </td>   
         <td width="60%" align="left">       
          <a href="https://www.instagram.com/rosalesimports.ar/" >
          <img align="left" src="../img/instagram.png"  height="70px"  width="70px" > </a>
        </td>
        <td>
         <div id="seccion-privada" style="display: none;">
            <button id="btnproductos" class="btn-productos">PRODUCTOS</button>
            <button id="btnLogout" class="btn-salir">Cerrar Sesion</button>
        </div> 
         <div id="seccion-publica" >
            <button id="btnAdmin" class="btn-salir">Acceso</button>
        </div> 
        </td>
      </tr>
    </table>
  </div>
</header>


<script>
  console.log('partial/navigation.hbs');
  const token = localStorage.getItem('token_acceso');
  const seccion = document.getElementById('seccion-privada');
  if (token) {
    console.log("Token encontrado:", token);
    const usuario = localStorage.getItem('nombre');
    console.log("usario", usuario)
    document.getElementById('usuario').value = usuario;
      // Si existe el token, mostramos el div
    seccion.style.display = 'block';
    document.getElementById('btnAdmin').style.display='none';
    document.getElementById('btnproductos').style.display='block';
    document.getElementById('btnLogout').style.display='block';
  } else {
    document.getElementById('usuario').style.display = "none";
    console.log("No hay sesión activa.");
    document.getElementById('btnAdmin').style.display = 'block';
  }
  productosLS = obtenerProductosLocalStorage();
  //productoLS = JSON.parse(localStorage.getItem('productos'));
  console.log(productosLS);
  console.log(productosLS.length);
  document.getElementById('items').value = productosLS.length;
  
  function obtenerProductosLocalStorage() {
    console.log('obtenerProductosLocalStorage')
    let productoLS;

    //Comprobar si hay algo en LS
    if (localStorage.getItem('productos') === null) {
      console.log('no tiene');
      productoLS = [];
      }
      else {
      console.log('tiene navigation');
     // console.dir(localStorage.getItem('productos'));
        productoLS = JSON.parse(localStorage.getItem('productos'));
     }
   // document.getElementById('items').value = localStorage.length;
    return productoLS;
  }

// Escuchar el clic en el botón
  document.getElementById('btnLogout').addEventListener('click', () => {
    
    // 1. Eliminar el token o toda la sesión
    console.log('Cerrando sesión');
    localStorage.removeItem('token_acceso'); 
    localStorage.removeItem('nombre');
    // O usa sessionStorage.clear(); para borrar todo

    console.log('Sesión cerrada');

    // 2. Redirigir al login o inicio
    window.location.href = '/'; 
  });

// Escuchar el clic en el botón
  document.getElementById('btnproductos').addEventListener('click', () => {
    // Aquí puedes hacer algo antes de irte, como leer el token
    const token = sessionStorage.getItem('token_acceso');
    
    if (token) {
        window.location.href = '/productocambia';
    } else {
        alert("Debes iniciar sesión para ver productos");
        window.location.href = '/signin';
    }
});

 document.getElementById('btnAdmin').addEventListener('click', () => {
    
 

    console.log('boton Administracion');

    // 2. Redirigir al login o inicio
    window.location.href = '/signin'; 
  });

</script>
</body>