
<html lang="en">

<header>
  <meta charset="UTF-8" />
  <meta name="Mayorista Los Rosales" content="Mayorista Los Rosales Quesos Fiambres Dulces Snack Encurtidos"
    autor="Jesus Rosales" />
  <title>RosalesImports</title>
  {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  {{!-- para convertir imagenes https://convertico.com/ --}}
  <link rel="icon" href="../img/rose.ico">
  {{!-- BOOTSTRAP 4 --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  {{!-- FONT AWESOME 5 --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!--<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  -->
  {{!-- STYLES --}}
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/simpleSlider.min.css">
  <link rel="stylesheet" href="/css/theme.min.css">
  <link rel="stylesheet" href="/css/sweetalert2.min.css">

</header>

<body>
  {{>navigation}}
  {{{body}}}


  {{!-- SCRIPTS --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>
<style>
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: black;
    color: white;
    /*text-align: left*/
    ;
    margin-top: 0px;
    font-size: 1rem;

  }
</style>

  
    <div class="footer">
      <table border=0>
        <tr>
          <td>© 2020 Copyright - Desarrollado por &nbsp&nbsp
            <a style="color:cyan ; font-size:25px;" href="https://proeesa-com-ar.webnode.page">PROEESA Proyectos
              Electronicos Especiales
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
          </td>
          <td style="text-align: right; vertical-align: super;">
            <a title="contador visitas">
              <img style="text-align: right; vertical-align: text-top;" align="right"
                src="https://www.websmultimedia.com/contador-de-visitas.php?id=403"> </a>
          </td>
        </tr>
      </table>
    </div>
  

</html>